.body{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 2%;   
    border-radius: 10px;
}
#backgroundImg{
    background-image: url("../animalBG.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#headButtons{
    width: 100%;
    display: flex;
    justify-content:center;
    justify-content:space-around;

}
.btnHead{
    color: black;
    text-decoration:none;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: beige;
    padding: 5vh 5vh 5vh 5vh;
    
}
#scheda  {
    position:fixed;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border-style:solid;
    background-color: whitesmoke;
    top: 20vh;
    left: 10vh;
    right: 10vh;
    z-index: 1;
    height: 60vh;
}
.row{
    padding: 5px 0px 5px 0;
}
#boxUtenti{
    height: 80vh;
    border-radius: 10px;
    border-style: groove;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px 10px 10px 10px;
    margin-top: -5vh;
}
#userTable{
    height: 50vh;
}



h3{
    font-size: 15px;
}

#titleS{
    margin-top: -50px;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}

.my-custom-scrollbar {
    margin-top: 5vh;
    position:relative;
    height: 50vh;
    overflow: auto;

    }
.table-wrapper-scroll-y {
    display: block;
    }


#close{
    margin-left: 20vh;
    text-align: right;
    max-width: 7vh;
    max-height: 7vh;
}