.postCard{
    width: 75%;
    display: flex;
    flex-direction: column;
    background: rgb(252, 251, 207);
    border-radius: 1rem;
    margin: 0.5em 0 0.5em 0;
}

.footer{
    position: fixed;
    bottom: 0;
}

#forumContainer{
    flex-direction: row;
    justify-content: space-between;
}
#shareStory{
    width: 25%;
}
#newPostDiv{
    width: 50%;
}

@media only screen and (max-device-width : 780px) {
    #forumContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #shareStory{
        width: 75%;
    }
    #newPostDiv{
        width: 75%;
    }
}