
.box{
    background-color: aquamarine;
    float: left;
    padding: 10px;
    height: 50vh;
}
.row{
    justify-content: center;
}
@media screen and (max-width: 400px) {
    .box {
      width: 100%;
    }
  }

#name{
    text-align: center;
    padding: 10px;
    margin: 5px 5px 5px 5px;
}